<section>
    <div class="main__Page mt-5">
        <div class="container-fluid px-5">
            <div class="row">
                <div class="col-md-7 col-12">
                    <app-gallery></app-gallery>
                </div>
                <div class="col-md-5 col-12">

                    <app-userprofile></app-userprofile>
                    <div class="enquire_btn">
                        <button type="button" class="btn btn-dark  btn-block">Enquire</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-12">
                    <app-content-info></app-content-info>
                </div>
            </div>
        </div>
    </div>
</section>