ul.nav.nav-tabs {
    border: none;
    gap: 50px;
}

a.nav-link {
    border: none;
    color: #000;
    font-weight: 400;
    padding: 10px 0px;
    /* margin-right: 40px; */
    cursor: pointer;
}

a.nav-link.active {
    font-weight: 400;
    color: #dc3545 !important;
    position: relative;
}

a.nav-link.active::before {
    content: '';
    width: 40%;
    height: 4px;
    background: #dc3545 !important;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 768px) {
    ul.nav.nav-tabs {
        gap: 15px;
    }
}