.img-thumbnail {
    border: none;
    padding: 0;
    border-radius: 0;
}

.gallery__section {
    display: flex;
}

.small__gallery {
    width: 164px;
    margin-left: 10px;
}

.gallery__section>.thumb>img {
    width: 100%;
}

.small__gallery .col-lg-12.col-md-12.col-xs-12 {
    padding-bottom: 10px;
}

.small__gallery .col-lg-12.col-md-12.col-xs-12.thumb a figure {
    width: 91%;
}

.small__gallery img {
    width: 100%;
}

.col-lg-9.col-md-9.col-xs-12.thumb {
    cursor: pointer;
}

.logo__container {
    display: flex;
    gap: 20px;
}

.link__section {
    text-align: right;
}

.logo__container img {
    width: 130px;
}

.link__section a {
    color: #E50017;
    text-decoration: none;
    font-size: 15px;
}

.logo__container_block {
    border-bottom: 1px solid #dbdbdb;
}

@media only screen and (max-width: 768px) {
    .gallery__section {
        flex-direction: column;
    }
    .small__gallery {
        width: 100%;
        margin-left: 0;
        display: flex;
        margin-top: 15px;
        gap: 10px;
    }
    .small__gallery .col-lg-12.col-md-12.col-xs-12 {
        height: 100px;
        overflow: hidden;
    }
}