<div class="description_box">
    <p class="main_c">Sector: Office</p>

    <div class="title">
        <h3>Alice Lane</h3>
    </div>
    <div class="rating__Box">
        <p>Greenstar rating</p>
        <div class="stars">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
        </div>
    </div>

    <div class="location">
        <h5>Location</h5>
        <div class="location_box">
            <div class="address">
                <p>Address:</p>
                <p>Cnr Alice Lane and 5th street</p>
            </div>
            <div class="province">
                <p>Province:</p>
                <p>Gauteng</p>
            </div>
            <div class="city">
                <p>City:</p>
                <p>Johannesburg</p>
            </div>
            <div class="subrub">
                <p>Subrub:</p>
                <p>Sandton</p>
            </div>
        </div>
    </div>
    <div class="gpsbox">
        <h5>GPS coordinates:</h5>
        <div class="gps_cont">
            <div class="longitude">
                <p>Longitude:</p>
                <p>29.00312</p>
            </div>
            <div class="latitude">
                <p>Latitude:</p>
                <p>26.00312</p>
            </div>
        </div>
    </div>

    <div class="desc__box">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
</div>